/* General Reset and General Format */
:root {
  /* --color-base: #171717;
  --color-second: #f5f5f5;
  --color--tertiary: #737373;
  --color--accent: rgb(175, 117, 8); */
  --color-base: #171717;
  --color-second: #f5f5f5;
  --color--accent: #737373;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: 62.5%;
}

/* Main layout Styling */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section {
  width: 120rem;
  /* height: 55rem; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 0px 0px 5px rgb(115, 115, 115, 0.4);
  border-radius: 10px;
  overflow: hidden;
}

/* ------------------------------------------------------- */
/* Left pane styling */
.left--pane {
  padding: 2rem 2rem;
  font-weight: 400;
  position: relative;
  box-shadow: 0px 0px 5px var(--color-second);
  box-shadow: inset;
}

.left--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0rem;
}

.spaces--title {
  padding: 0 1rem;
  font-size: 2rem;
  font-weight: 450;
  color: var(--color--accent);
}

.left--top span {
  font-size: 1.6rem;
  padding-right: 2rem;
  color: var(--color--accent);
  cursor: pointer;
  /* border: 2px solid var(--color--accent); */
  /* background-color: var(--color--accent); */
  padding: 0.4rem;
  border-radius: 5px;
}

.display--spaces {
  position: relative;
  font-weight: 450;
  height: 56rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #737373 white;
  color: rgb(23, 23, 23, 0.8);
  padding-bottom: 5rem;
}

.spaces--list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.space--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.space--item:hover {
  background-color: var(--color-second);
  border-radius: 5px;
}

.space--name {
  font-size: 1.4rem;
  font-weight: 400;
}

.space--num {
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 100px;
  color: var(--color--accent);
}

.space--item div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
}

.last--opened {
  font-size: 1rem;
  color: var(--color--accent);
  font-weight: 400;
}

/* Form-task Styling */
.form--space {
  position: absolute;
  bottom: 4rem;
  right: 0.2rem;
  display: block;
  width: 22rem;
  margin: 0rem 4rem;
}

.form--space input {
  width: 100%;
  border: none;
  box-shadow: 0px 0px 5px var(--color-base);
  color: var(--color-primary);
  font-size: 1.5rem;
  padding: 1rem 1rem;
  margin-bottom: 3rem;
  border-radius: 5px;
  outline: none;
}

/* ------------------------------------------------------- */
/* Right pane styling */
.right--pane {
  position: relative;
}

/* nav styling */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset;
  margin: 2rem 2rem;
  margin-top: 2.7rem;
}

.title,
.space-title,
.space-title span {
  font-size: 2rem;
  outline: none;
  color: var(--color--accent);
}

.navigation {
  display: flex;
  gap: 5rem;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.3rem;
}

.tab {
  list-style: none;
  padding: 0.4rem 0.8rem;
  box-shadow: 0px 0px 2px var(--color--accent);
  border-radius: 100px;
  color: var(--color--accent);
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.tab:hover {
  background-color: var(--color-second);
}

.tab span {
  position: absolute;
  top: -1rem;
  right: -1rem;

  border: none;
  box-shadow: 0px 0px 3px rgb(38, 38, 38, 0.5);
  background: none;
  backdrop-filter: blur(2px);
  border-radius: 100px;

  color: rgb(38, 38, 38, 0.5);
  font-weight: 400;
  padding: 0.5rem;

  display: inline-block;
  min-width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn--2 {
  box-shadow: 0px 0px 4px var(--color--accent);
}

/* tasks styling */
.display--tasks {
  position: relative;
}

.task-list {
  padding: 0.5rem 0rem;
  height: 56.5rem;
  border-top: 1px solid rgb(23, 23, 23, 0.05);
  overflow-y: auto;
  scrollbar-color: var(--color--second) #fff;
  scrollbar-width: thin;
}

.task {
  list-style: none;
  display: flex;
  flex: 0 0 50rem;
  justify-content: space-between;
  flex-grow: 0;
  padding: 1.8rem 2rem;
  color: var(--color--base);
  cursor: default;
}

.task-name {
  font-size: 1.5rem;
  width: 75rem;
  overflow-wrap: break-word;
}

.task:nth-child(even) {
  background-color: rgb(245, 245, 245, 0.4);
}

.left {
  display: flex;
  gap: 1rem;
}

.right {
  display: flex;
  gap: 0.7rem;
  flex-shrink: 0;
  margin-top: 0.5rem;
}

.task--details {
  color: var(--color--accent);
  font-size: 1.2rem;
  padding-top: 0.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date {
  font-weight: 400;
  margin-left: 2.4rem;
}

.edited {
  font-size: 1rem;
  color: #fff;
  background-color: var(--color--accent);
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
}

/* Circle styles */
.circle {
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #333;
  border-radius: 100px;
  transition: all 0.3s;
  flex-shrink: 0;
}

.circle:hover {
  transform: scale(1.5);
}

.edit {
  margin-left: 1rem;
}
.edit:hover {
  background-color: blue;
  border-color: blue;
}

.archive:hover {
  background-color: var(--color--accent);
  border-color: var(--color--accent);
}

.delete:hover {
  background-color: red;
  border-color: red;
}

.done {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0s;
  margin-top: 0.2rem;
}

.done:hover {
  background-color: var(--color--accent);
  border-color: var(--color--accent);
  transform: scale(1);
  width: 1.5rem;
  height: 1.5rem;
}

/* Form-task Styling */
.form--task {
  position: absolute;
  z-index: 100;
  top: 7.5rem;
  right: 10rem;
}

.form--task input {
  width: 70rem;
  border: none;
  box-shadow: 0px 0px 5px var(--color-base);
  color: var(--color-primary);
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  outline: none;
}

/* Globals */
.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* padding-right: 2rem; */
}

.btn {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color--second);
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px var(--color-base);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: none;
  backdrop-filter: blur(2.5px);
}

.overlay {
  backdrop-filter: blur(2.5px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.container {
  position: relative;
}
