/* General Reset and General Format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  overflow: none;
}

.section {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* ---------------------------------------------------- */
/* Left pane styling */
.left--pane {
  position: relative;
  color: rgb(0, 0, 0, 0.8);
  border-right: 1.5px solid rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.left--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 2rem;
}

.logo {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Rock Salt';
  font-size: 1.8rem;
  font-weight: 400;
}

.left--top p {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}

.display--spaces {
  height: 88vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #737373 white;
  padding-bottom: 5rem;
}

.spaces--list {
  display: flex;
  flex-direction: column;
}

.space--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
  border-radius: 0px;
  padding: 1.3rem 2rem;
  transition: all 0.3s;
  border-top: 1px solid rgb(0, 0, 0, 0.025);
  margin: 0rem 0.5rem;
}

.space--item:hover {
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 8px;
  color: #fff;
}

.space--name {
  font-size: 1.5rem;
  font-weight: 450;
}

.space--num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 100px;
  background-color: rgb(0, 0, 0, 0.04);
  min-width: 2.5rem;
  height: 2.5rem;
  font-weight: 500;
  font-family: monospace;
}

.space--item div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
}

.last--opened {
  font-size: 1rem;
  font-weight: 400;
  font-family: monospace;
}

/* Form-task Styling */
.container {
  position: relative;
}

.form--space {
  position: absolute;
  bottom: 8rem;
  right: 3rem;
  width: 80%;
}

.space--input {
  width: 100%;
  border: none;
  font-size: 1.6rem;
  padding: 1rem 1rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0);
  border-radius: 5px;
  outline: none;
}

.buttons.space-buttons {
  position: absolute;
  right: 3rem;
  bottom: 2rem;
}

.btn.btn--1 {
  box-shadow: 0px 0px 4px rgba(0, 0, 0);
  border: 2px solid white;
}

/* ------------------------------------------------------- */
/* Right pane styling */
.right--pane {
  position: relative;
}

/* nav styling */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  height: 12vh;
}

.title,
.space-title {
  font-size: 2rem;
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

.backwards {
  display: none;
}

.navigation {
  display: flex;
  gap: 5rem;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.3rem;
}

.tab {
  list-style: none;
  padding: 0.5rem 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  color: rgb(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  font-weight: 400;
}

.tab:hover {
  background-color: rgb(0, 0, 0, 0.6);
  color: #fff;
}

.tab:hover .tab-num {
  color: rgba(0, 0, 0, 0.8);
}

.tab span {
  position: absolute;
  top: -1.1rem;
  right: -1.1rem;

  border: none;
  box-shadow: 0px 0px 2.5px rgb(0, 0, 0, 0.4);
  background: none;
  backdrop-filter: blur(2px);
  border-radius: 100px;

  font-family: monospace;
  font-weight: 500;
  padding: 0.5rem;

  display: inline-block;
  min-width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn--2 {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

/* tasks styling */
.display--tasks {
  position: relative;
}

.task-list {
  height: 88vh;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  scrollbar-color: #737373 #fff;
  scrollbar-width: thin;
}

.task {
  list-style: none;
  display: flex;
  flex: 0 0 50rem;
  justify-content: space-between;
  flex-grow: 0;
  padding: 2rem;
  color: rgba(0, 0, 0, 0.8);
  cursor: default;
}

.task-name {
  font-size: 1.5rem;
  overflow-wrap: break-word;
  outline-offset: 2px;
  cursor: auto;
  outline-color: rgb(0, 0, 0, 0.3);
  line-height: 1.5;
  margin-right: 0.5rem;
}

.task:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.01);
}

.left {
  display: flex;
  gap: 1rem;
}

.right {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
  margin-top: 0.5rem;
}

.task--details {
  font-size: 1.2rem;
  padding-top: 0.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date {
  font-weight: 500;
  margin-left: 2.4rem;
  font-family: monospace;
  color: rgb(0, 0, 0, 0.6);
  font-size: 1.1rem;
  display: flex;
  gap: 0.3rem;
}

.tag {
  font-size: 1rem;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 0.15rem 0.45rem;
  border-radius: 2px;
  font-family: monospace;
}

/* Circle styles */
.circle {
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid rgba(0, 0, 0);
  border-radius: 100px;
  transition: all 0.2s;
  flex-shrink: 0;
}

.archive:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  transform: scale(1.5);
}

.delete:hover {
  background-color: rgb(200, 0, 0);
  border: none;
  transform: scale(1.5);
}

.done {
  width: 1.6rem;
  height: 1.6rem;
  transition: all 0s;
  margin-top: 0.2rem;
}

.done .tick {
  display: block;
  padding: 0.1rem;
  font-size: 1rem;
  color: transparent;
}

.done.full .tick {
  color: rgb(0, 0, 0, 0.6);
}

.done:hover {
  transform: scale(1);
  width: 1.6rem;
  height: 1.6rem;
}

.done:hover .tick {
  color: black;
}

/* Form-task Styling */
.form--task {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 7.5rem;
  width: 100%;
  padding: 0 10rem;
}

.form--task input {
  width: 100%;
  border: none;
  /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0); */
  color: rgb(0, 0, 0, 0.8);
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  outline: none;
}

/* Globals */
.buttons {
  display: flex;
  justify-content: flex-end;
  color: black;
}

.btn {
  color: #333;
  font-size: 2.5rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: none;
  backdrop-filter: blur(2.5px);
}

.overlay {
  backdrop-filter: blur(2.5px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}
