* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
}

/* media: 1080  */
@media (max-width: 1080px) {
  .tabs {
    gap: 1.2rem;
    font-size: 1.3rem;
  }

  .navigation {
    gap: 3rem;
  }
}

@media (max-width: 900px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .right--pane {
    overflow-x: hidden;
    width: 100vw;
  }

  .left--pane {
    overflow-x: hidden;
    width: 100vw;
  }

  /* When no tasks exists */
  .space-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: center;
    width: 100%;
    height: 100%;
  }

  .space-landing img {
    width: 60%;
    opacity: 0.6;
  }

  .space-landing p {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    font-family: monospace;
  }

  .space-landing p span {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 3px;
  }

  /* right pane  */
  .nav-bar {
    all: initial;
    height: 14vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .navigation {
    all: initial;
  }

  .tabs {
    gap: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
    margin-top: 0.5rem;
  }

  .tab span {
    font-size: 1rem;
    min-width: 1.5rem;
    height: 1.5rem;
    top: -0.8rem;
    right: -0.8rem;
  }

  .btn--2 {
    margin-top: -9rem;
    margin-right: 1rem;
    z-index: 1000;
  }

  .btn.btn--2 {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
    z-index: 1000;
  }

  .btn.btn--1 {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
  }

  .buttons.space-buttons {
    right: 1.9rem;
    bottom: 1.95rem;
  }

  .buttons {
    z-index: 1000;
  }
  .overlay {
    z-index: 100;
  }

  .title-nav-responsive {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 1000;
  }

  .backwards {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    margin-right: 0.5rem;
    font-family: monospace;
    color: rgb(0, 0, 0, 0.8);
  }

  .title {
    padding: 1rem;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    text-align: right;
    display: inline;
  }

  .responsive {
    position: fixed;
    right: 1rem;
    bottom: -3rem;
  }

  .tab {
    padding: 0.3rem 1.2rem;
  }

  /* form */
  .task--input {
    width: 100%;
    margin-left: 0rem;
    padding: 0.5rem 1rem;
  }

  .form--task {
    top: 10rem;
    padding: 0 2rem;
    z-index: 1000;
  }

  .form--task input {
    font-size: 1.5rem;
    padding: 0.8rem 1.8rem;
    z-index: 1000;
  }

  .space--input {
    font-size: 1.5rem;
  }

  .form--space {
    z-index: 1000;
  }

  .space--input {
    z-index: 1000;
  }

  /* tasks res */
  .display--tasks {
    all: initial;
  }

  .task-list {
    border-top: none;
    height: 86vh;
  }

  .task-name {
    font-size: 1.4rem;
  }

  .date {
    font-size: 0.95rem;
  }

  .date i {
    font-size: 0.9rem;
    display: inline-block;
    margin-top: 0.1rem;
  }

  .tag {
    font-size: 0.9rem;
  }
}
