* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
}

/* media: 1080  */
@media (max-width: 1080px) {
  .tabs {
    gap: 1.2rem;
    font-size: 1.3rem;
  }

  .navigation {
    gap: 3rem;
  }
}

@media (max-width: 900px) {
  .section {
    display: block;
  }

  .right--pane {
    display: block;
  }

  .left--pane {
    display: none;
  }

  /* right pane  */
  .nav-bar {
    all: initial;
    height: 14vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .navigation {
    all: initial;
  }

  .tabs {
    gap: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
    margin-top: 0.5rem;
  }

  .tab span {
    font-size: 1rem;
    min-width: 1.5rem;
    height: 1.5rem;
    top: -0.8rem;
    right: -0.8rem;
  }

  .btn--2 {
    margin-top: -9rem;
    margin-right: 1rem;
  }

  .title-nav-responsive {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: -1000;
  }

  .backwards {
    font-size: 3rem;
    font-weight: 700;
    margin-right: 0.5rem;
    font-family: monospace;
    color: rgb(0, 0, 0, 0.8);
  }

  .title {
    padding: 1rem;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    text-align: right;
    display: inline;
  }

  .responsive {
    position: fixed;
    right: 1rem;
    bottom: -3rem;
  }

  .tab {
    padding: 0.3rem 1.2rem;
  }

  /* form */
  .task--input {
    width: 100%;
    margin-left: 0rem;
    padding: 0.5rem 1rem;
  }

  .form--task {
    top: 10rem;
    padding: 0 2rem;
  }

  .form--task input {
    font-size: 1.5rem;
    padding: 0.8rem 1.8rem;
  }

  .space--input {
    font-size: 1.5rem;
  }

  /* tasks res */
  .display--tasks {
    all: initial;
  }
  .task-list {
    border-top: none;
    height: 86vh;
  }
}
