/* postcss-preset-env stage 0 */

/* General reset and general format */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

/* man-with: 1800px */
@media (max-width: 1800px) {
  html {
    font-size: 65%;
  }
  .container {
    width: 80%;
  }
}

/* man-with: 1024px */
@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
  .container {
    width: 90%;
  }
}
/* man-with: 700px */
@media (max-width: 700px) {
  html {
    font-size: 62.5%;
  }

  .container {
    width: 95%;
  }

  .hero {
    text-align: center;
    height: 50rem;
    width: 50rem;
    background: radial-gradient(
      rgb(0, 0, 0, 0.1),
      rgb(0, 0, 0, 0.05),
      white,
      white
    );
    margin-top: -3rem;
  }

  .main-text {
    font-size: 3.5rem;
    line-height: 1.2;
    height: 12rem;
    width: 100%;
    padding: 0 4rem;
  }

  .primary-text {
    font-size: 1.6rem;
    padding: 0 1rem;
  }

  .image-container {
    margin-top: -1rem;
    margin-bottom: 12rem;
  }

  .section-heading {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .sub-heading {
    font-size: 1.2rem;
  }

  .features {
    margin-bottom: 12rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 3rem;
    gap: 1.5rem;
  }

  .grid-1 {
    grid-column: 1/3;
    background-color: rgb(0, 0, 0, 0.8);
  }

  .grid-2 {
    grid-column: 3/-1;
  }

  .grid-3 {
    grid-column: 1/3;
    background-color: rgb(0, 0, 0, 0.8);
  }

  .grid-4 {
    grid-column: 3/-1;
    background-color: rgb(0, 0, 0, 0.8);
  }

  .grid-5 {
    grid-column: 1/3;
  }

  .grid-6 {
    grid-column: 3/-1;
    background-color: rgb(0, 0, 0, 0.8);
  }

  .grid-7 {
    grid-column: 1/-1;
  }

  .step-title {
    font-size: 1.7rem;
  }

  .works {
    margin-bottom: 12rem;
  }

  .about-text {
    padding: 0 2rem;
  }
}

/* media: 470px */
@media (max-width: 480px) {
  html {
    font-size: 62.5%;
  }

  .container {
    width: 95%;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 34rem;
    width: 34rem;
    margin: 0rem auto;
    background: radial-gradient(
      rgb(0, 0, 0, 0.1),
      rgb(0, 0, 0, 0.05),
      rgb(0, 0, 0, 0.05),
      white,
      white
    );
    margin-top: 5rem;
  }

  .main-text {
    font-size: 3.4rem;
    line-height: 1.2;
    height: 11rem;
    width: 100%;
    padding: 0 1rem;
    font-weight: 600;
    letter-spacing: -1.2px;
  }

  .primary-text {
    font-size: 1.7rem;
    padding: 0 1rem;
  }

  .image-container {
    margin-top: 5rem;
    margin-bottom: 10rem;
  }

  .section-heading {
    font-size: 2.05rem;
    margin-bottom: 3rem;
  }

  .sub-heading {
    font-size: 1.2rem;
    margin-bottom: -2rem;
    letter-spacing: 4px;
  }

  .dot {
    font-size: 5rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
  }
  .features.container {
    width: 100%;
  }

  .grid-item {
    padding: 3rem 4rem;
    border-radius: 0px;
    font-size: 1.4rem;
    width: 95%;
  }

  .grid-1,
  .grid-3,
  .grid-4,
  .grid-6 {
    background-color: white;
  }

  .grid-1 p,
  .grid-3 p,
  .grid-4 p,
  .grid-6 p {
    color: rgb(0, 0, 0, 0.6);
  }

  .grid-1 h3,
  .grid-3 h3,
  .grid-4 h3,
  .grid-6 h3 {
    color: rgb(0, 0, 0, 0.3);
  }

  .grid-1,
  .grid-3,
  .grid-5,
  .grid-7 {
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    margin-right: 5%;
  }

  .grid-2,
  .grid-4,
  .grid-6 {
    margin-left: 5%;
  }

  .grid-1 h3,
  .grid-3 h3,
  .grid-5 h3,
  .grid-7 h3 {
    color: rgb(255, 255, 255, 0.3);
  }

  .grid-1 p,
  .grid-3 p,
  .grid-5 p,
  .grid-7 p {
    color: white;
    font-size: 1.6rem;
    padding: 0;
  }

  .grid-item:hover {
    transform: translateY(0rem);
  }

  /* how it works section */
  .works {
    margin-bottom: 10rem;
  }

  .steps {
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-left: 4rem;
  }

  .content {
    margin-left: 4rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  .step-title {
    font-size: 1.8rem;
    color: rgb(0, 0, 0, 0.6);
    margin-bottom: -0.4rem;
  }

  .step-content {
    font-size: 1.55rem;
  }

  .number-1 {
    grid-column: 1/2;
  }
  .number-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .number-3 {
    grid-column: 1/2;
  }

  .step-1 {
    grid-column: 2/-1;
    margin-left: 0rem;
  }

  .step-2 {
    grid-column: 2/-1;
    text-align: left;
    margin-right: 0rem;
  }
  .step-3 {
    grid-column: 2/-1;
    margin-left: 0rem;
  }

  .step-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }

  .step-numbers.number-3 {
    margin-top: -3.5rem;
  }

  .about-text {
    padding: 0 1rem;
  }

  .about {
    margin-bottom: 12rem;
  }

  .footer-text {
    width: 80%;
    gap: 1rem;
  }

  .footer-text p {
    line-height: 1.5;
  }
}

@media (max-width: 350px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30rem;
    width: 30rem;
    background: radial-gradient(
      rgb(0, 0, 0, 0.1),
      rgb(0, 0, 0, 0.05),
      rgb(0, 0, 0, 0.05),
      white,
      white
    );
    margin-top: 2rem;
  }

  .main-text {
    font-size: 3.5rem;
    line-height: 1;
    height: 9rem;
    width: 100%;
    padding: 0 1rem;
    font-weight: 600;
    letter-spacing: -1.2px;
  }

  .primary-text {
    font-size: 1.6rem;
    padding: 0 1rem;
  }

  .section-heading {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    line-height: 1px;
  }

  .sub-heading {
    font-size: 1rem;
    margin-bottom: 0.1rem;
    letter-spacing: 4px;
  }

  .grid-item {
    padding: 3rem 2rem;
    border-radius: 0px;
    font-size: 1.4rem;
    width: 100%;
  }

  .grid-1,
  .grid-3,
  .grid-5,
  .grid-7 {
    margin-right: 2rem;
  }

  .grid-2,
  .grid-4,
  .grid-6 {
    margin-left: 2rem;
  }

  .steps {
    margin-left: 2rem;
  }

  .content {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  .step-title {
    font-size: 1.7rem;
  }

  .step-content {
    font-size: 1.5rem;
  }

  .about-text {
    margin-top: 1rem;
    line-height: 1.2;
  }

  .footer-text {
    width: 90%;
    gap: 1rem;
  }

  footer {
    display: flex;
    text-align: center;
    padding: 2rem 0;
    gap: 1rem;
  }
}
