/* General Reset and General Format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0, 0.7);
}

html {
  font-size: 62.5%;
}

/* Navigation */
.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.logo {
  font-size: 2rem;
  font-family: 'Rock Salt';
}

.links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.button {
  justify-items: flex-end;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 3rem;
  border-radius: 2px;
  border: 1px solid rgb(0, 0, 0, 0.7);
}

.button:hover {
  background: transparent;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}

/* hero section */
.hero {
  text-align: center;
  height: 70rem;
  width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    rgb(0, 0, 0, 0.1),
    rgb(0, 0, 0, 0.05),
    white,
    white
  );
  margin-top: -10rem;
}

.main-text {
  font-size: 4.5rem;
  margin-bottom: 3rem;
  line-height: 1.1;
  width: 60rem;
  height: 10rem;
  font-weight: 550;
}

.primary-text {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  line-height: 1.5;
  width: 100%;
}

/* Image section */
.image-container {
  border: 3px solid rgb(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  margin-top: -10rem;
  margin-bottom: 15rem;
}

.image {
  width: 100%;
}

/* Feature section */
.features {
  margin-bottom: 15rem;
}

.section-heading {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  color: rgb(0, 0, 0, 0.8);
  margin-bottom: 5rem;
  width: 100%;
}

.dot {
  font-size: 7rem;
  font-family: sans-serif;
}

.sub-heading {
  font-size: 1.5rem;
  margin-bottom: -2.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 8px;
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 2rem;
  column-gap: 3rem;
}

.grid-item {
  padding: 2rem;
  border-radius: 10px;
  font-size: 1.42rem;
  box-shadow: 0px 0px 10px 0.1px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.grid-item:hover {
  background-color: rgb(0, 0, 0, 0.8);
  transform: translateY(-0.5rem);
}

.grid-item:hover p {
  color: white;
}

.grid-item:hover h3 {
  color: rgb(255, 255, 255, 0.7);
}

.grid-item h3 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0, 0.3);
}

.grid-item p {
  line-height: 1.4;
  color: rgb(0, 0, 0, 0.6);
}

.grid-1 p,
.grid-3 p,
.grid-4 p,
.grid-6 p {
  color: #fff;
}
.grid-1 h3,
.grid-3 h3,
.grid-4 h3,
.grid-6 h3 {
  color: rgb(255, 255, 255, 0.3);
}

.grid-1 {
  grid-column: 1/5;
  background-color: rgb(0, 0, 0, 0.8);
}

.grid-2 {
  grid-column: 5/-1;
}

.grid-3 {
  grid-column: 1/3;
  background-color: rgb(0, 0, 0, 0.8);
}

.grid-4 {
  grid-column: 3/6;
  background-color: rgb(0, 0, 0, 0.8);
}

.grid-5 {
  grid-column: 6/-1;
}

.grid-6 {
  grid-column: 1/4;
  background-color: rgb(0, 0, 0, 0.8);
}

.grid-7 {
  grid-column: 4/-1;
}

/* how it works section */
.works {
  margin-bottom: 15rem;
}
.steps {
  display: grid;
  grid-template-columns: 1fr 5rem 1fr;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.step-title {
  font-size: 2rem;
  color: rgb(0, 0, 0, 0.6);
}

.step-content {
  font-size: 1.6rem;
}

.number {
  font-size: 1.3rem;
  font-weight: 500;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 6px rgb(0, 0, 0, 0.7);
  margin-top: 1rem;
  background-color: rgb(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: all 0.3s;
}

.number:hover {
  background-color: rgb(0, 0, 0, 0.7);
  box-shadow: 0px 0px 0px 6px rgb(0, 0, 0, 0.6);
}

.line {
  width: 2px;
  height: 10px;
  background-color: black;
}

.number-1 {
  grid-column: 2/3;
}

.step-1 {
  grid-column: 3/-1;
  margin-left: 5rem;
}

.step-2 {
  text-align: right;
  margin-right: 5rem;
}
.step-3 {
  margin-left: 5rem;
}

.number-3 {
  grid-column: -3/-2;
}

.step-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.step-numbers.number-3 {
  margin-top: -3.5rem;
}

/* About section */
.about {
  margin-bottom: 15rem;
}

.about-text {
  text-align: center;
  font-size: 1.6rem;
  margin: 0 auto;
  line-height: 1.6;
  margin-top: -3rem;
  padding: 0 8rem;
}

.about-text p {
  margin-bottom: 3rem;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 3rem;
}
footer {
  display: flex;
  text-align: center;
  padding: 2rem 0;
  gap: 2rem;
}

footer i {
  font-size: 2.5rem;
  color: rgb(0, 0, 0, 0.6);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}
.icon.whatsapp:hover {
  background-color: rgb(37, 211, 102);
  border: 1px solid rgb(37, 211, 102);
}
.icon.whatsapp:hover i {
  color: white;
}

.icon.linkedIn:hover {
  background-color: rgb(10, 102, 194);
  border: 1px solid rgb(10, 102, 194);
}
.icon.linkedIn:hover i {
  color: white;
}

.icon.github:hover {
  background-color: rgb(24, 23, 23);
  border: 1px solid rgb(24, 23, 23);
}
.icon.github:hover i {
  color: white;
}

.icon.x:hover {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}
.icon.x:hover i {
  color: white;
}

.icon.instagram:hover {
  background-color: rgb(228, 64, 95);
  border: 1px solid rgb(228, 64, 95);
}
.icon.instagram:hover i {
  color: white;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  padding: 1rem 0rem;
  color: rgb(0, 0, 0, 0.5);
}
