/* General Reset and General Format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* --------------------------------------------------- */
/* Utility Classes */

.selected-tab {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  font-weight: 450;
}

.selected {
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 8px;
  color: white;
}

.selected-tab .tab-num {
  color: rgba(0, 0, 0, 0.7);
}

.hidden {
  display: none;
}

.block-space-input {
  opacity: 1;
  transition: all 0.15s;
}

.block-task-input {
  opacity: 1;
  transition: all 0.15s;
}

.tick {
  font-size: 1.8rem;
  text-align: center;
}

.check--input {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: rgb(23, 23, 23, 0.9);
  font-family: monospace;
}

.strike {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.grey-text {
  color: rgba(0, 0, 0, 0.45);
}

.archived-full {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
}

.disactive {
  border-color: rgb(0, 0, 0, 0.2);
}
