/* General Reset and General Format */
:root {
  --color-brand-1: blue;
  --color-brand-2: blue;
  --color--text-major: #333;
  --color--text-minor: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
  color: #333;
}

/* Main layout Styling */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: red; */
}

.section {
  min-width: 110rem;
  max-height: 65rem;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

/* ------------------------------------------------------- */
/* Left pane styling */
.left--pane {
  font-weight: 400;
  font-size: 2rem;
  position: relative;
  color: var(--color--text-major);
  box-shadow: 0px 0px 5px rgba(10, 58, 102, 0.5);
  box-shadow: inset;
  background-color: rgba(10, 58, 102, 0.02);
  /* background-color: rgba(22, 130, 230, 0.02); */
}

.pad {
  padding: 2rem;
  padding-right: 0rem;
}

.app--title {
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.display--spaces {
  padding: 0rem 0.6rem;
  height: 50rem;
  overflow-y: auto;
  scrollbar-width: thin;
}

.spaces--list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.space--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all 0.3s;
}
.space--item:hover {
  background-color: rgba(10, 58, 102, 0.1);
  border-radius: 10px;
}

.item--name {
  font-size: 1.7rem;
}

.item--nums {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 100px;
}

.space--item div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
}

.last--opened {
  font-size: 1rem;
  color: #777;
}

/* ------------------------------------------------------- */
/* Right pane styling */
.right--pane {
}

.right-pad {
  padding: 4rem;
  background-color: orage;
}
